<head>
	<link href="js/lib/EasyAutocomplete-1.3.5/easy-autocomplete.min.css" rel="stylesheet">
	<link href="js/lib/EasyAutocomplete-1.3.5/easy-autocomplete.themes.min.css" rel="stylesheet">
</head>

<div class="card-body row">
    <div class="col-md-12 form-inline" >
		<label for="basics">Search by Email:</label>
    	&nbsp;&nbsp;&nbsp;
    	<input class="form-control" id="searchDropdown" />
    	&nbsp;&nbsp;&nbsp;
        <a class="form-control bg-orange" href="#" id="add_btn" class="btn bg-orange"><i class="fas fa-user-plus"></i> Add</a>
	</div>
</div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="roleTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
