<style>
	table.dataTable tbody>tr.selected>td, 
	table.dataTable tbody>tr>.selected>td {
	    background-color: #2B72D7;
	}
</style>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header"><i class="fas fa-tools"></i> Gear Storage Management</div>
          
<div class="card-body row">
    <div class="col-md-10 form-inline">
		<div class="gearTypeDropdown bg-orange"></div>
    </div>
    <div class="col-md-2 form-inline justify-content-center">
        <a href="#" id="refurbish_btn" class="btn bg-orange"><i class="fas fa-broom"></i> Refurbish</a>
    </div>
</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="refurbishTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Syracuse University</div>
        </div>

