<div class="card mb-1">
	<div class="card-body">
		<form id="basic-form">
			<div class="row">
				<div class="col-md-4">
					<label for="email">Email:</label>
					<input id="email" class="form-control" type="text" value="{{=email}}" >
				</div>
				<div class="col-md-4">
					<label for="password">Password:</label>
					<input id="password" class="form-control" type="text" value="password" >
				</div>
				<div class="col-md-4">
					<label for="repeat">Repeat:</label>
					<input id="repeat" class="form-control" type="text" value="{{=repeat}}" >
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label for="firstName">First Name:</label>
					<input id="firstName" class="form-control" type="text" value="{{=firstName}}" >
				</div>
				<div class="col-md-4">
					<label for="middleName">Middle Name:</label>
					<input id="middleName" class="form-control" type="text" value="{{=middleName}}" >
				</div>
				<div class="col-md-4">
					<label for="lastName">Last Name:</label>
					<input id="lastName" class="form-control" type="text" value="{{=lastName}}" >
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label for="gender">Gender:</label>
					<input id="gender" class="form-control" type="text" value="{{=gender}}" >
				</div>
				<div class="col-md-4">
					<label for="phoneNo">Phone No:</label>
					<input id="phoneNo" class="form-control" type="text" value="{{=phoneNo}}" >
				</div>
				<div class="col-md-4">
					<label for="ssn">SSN:</label>
					<input id="ssn" class="form-control" type="text" value="{{=ssn}}" >
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label for="dob">DOB:</label>
					<input id="dob" class="form-control" type="text" value="{{=dob}}" >
				</div>
				<div class="col-md-8"></div>
			</div>
		</form>
	</div>
</div>

