<style>
	table.dataTable tbody>tr.selected>td, 
	table.dataTable tbody>tr>.selected>td {
	    background-color: #2B72D7;
	}
</style>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header"><i class="fas fa-archive"></i> Rental Management</div>
          
<div class="card-body row">
    <div class="col-md-11 form-inline">
        <input class="form-control" id="reservationCode" type="text" placeholder="Enter reservation code ...">
		&nbsp;&nbsp;&nbsp;
		<a href="#" id="retrieve_reservation_btn" class="btn bg-orange"><i class="fas fa-search"></i> Retrieve available gears</a>
    </div>
    <div class="col-md-1 form-inline">
    	<a href="#" id="rent_btn" class="btn bg-orange"><i class="fas fa-hand-point-down"></i> Rent</a>
    </div>
</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>Gear Name</th>
                    <th>Brand</th>
                    <th>Time Used</th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Gear Name</th>
                    <th>Brand</th>
                    <th>Time Used</th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Syracuse University</div>
        </div>
